extends layout
block content
    h2 add book
    p please put your book information here
    form(method="post", action="/books/add_book", enctype="multipart/form-data" )
        .form-group
            input.form-control(name="image", type="file")
        .form-group
            input.form-control(name="title", type="text", placeholder="enter title")
        .form-group
            input.form-control(name="author", type="text", placeholder="enter author")
        .form-group
            input.form-control(name="description", type="string", placeholder="enter description")    
        .form-group
            input.form-control(name="date", type="date", placeholder="publication date")
        input.btn.btn-primary(type='submit', name='submit', value='enter')